# Node Dependencies
node_modules/
npm-debug.log
yarn-error.log
pnpm-debug.log

# Build Folders
dist/
build/

# Environment Variables
.env*
!/.env.example

# OS Files
.DS_Store
Thumbs.db

# IDE Folders
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Specific Frontend Files
frontend/dist
frontend/node_modules
frontend/.env*
!frontend/.env.example

# Specific Backend Files
backend/node_modules
backend/.env*
!backend/.env.example 